.auction
    .form
        display: flex
        flex-wrap: wrap
        gap: 5px 29px
        max-width: 900px
        input
            border: 2px solid #202020
            background-color: var(--colot-footer-grey)
        .btn
            width: 100%
            margin-top: 20px
        &-container
            align-self: flex-end
            flex-basis: 100%
            @media (min-width: 576px)
                flex-basis: 45%
            @media (min-width: 768px)
                flex-basis: 30%
    &-header
        display: flex
        flex-direction: column
        align-items: center
        margin-bottom: 30px
        p
            max-width: 450px
            text-align: center
    &-wrapper
        display: flex
        justify-content: center
        align-items: center
        border-radius: var(--radius)
        padding: 60px
        @media (max-width: 575.98px)
            padding: 30px
        background-color: var(--colot-footer-grey)